@import "~styles/config";
/*
Hero Slider Area Style
======================================================*/
.hero-carousel-area {
    position: relative;
    .owl-item {
        &.active {
            .hero-carousel-text {
                overflow: hidden;
                &.one {
                    h1 {
                        animation: 1s 0.1s fadeInUpBig both;
                    }
                    p {
                        animation: 2s 0.2s fadeInUpBig both;
                    }
                    .slider-btn {
                        animation: 3s 0.3s fadeInUpBig both;
                    }
                }
                &.two {
                    h1 {
                        animation: 2s 0.2s fadeInLeft both;
                    }
                    p {
                        animation: 3s 0.3s fadeInLeft both;
                    }
                    .slider-btn {
                        animation: 2s 0.2s fadeInUpBig both;
                    }
                }
                &.three {
                    h1 {
                        animation: 2s 0.2s fadeInDown both;
                    }
                    p {
                        animation: 2s 0.2s fadeInDown both;
                    }
                    .slider-btn {
                        animation: 2s 0.2s fadeInUp both;
                    }
                }
            }
        }
    }
    .owl-theme {
        .owl-nav {
            margin-top: 0;
            transition: $transition;
            [class*="owl-"] {
                position: absolute;
                top: 50%;
                transform: translateY(-50px);
                margin: 0;
                padding: 0;
                background: transparent;
                width: 20px;
                height: 100px;
                transition: $transition;
                &.owl-prev {
                    left: 50px;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50px);
                        transition: $transition;
                        background-image: url("https://via.placeholder.com/1920x870");
                        background-position: left;
                        background-repeat: no-repeat;
                        width: 20px;
                        height: 100px;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: $transition;
                        background-image: url("https://via.placeholder.com/1920x870");
                        background-position: left;
                        background-repeat: no-repeat;
                        width: 20px;
                        height: 100px;
                        opacity: 0;
                    }
                    i {
                        display: none;
                    }
                    &:hover {
                        background-color: transparent;
                        &::after {
                            opacity: 1;
                        }
                    }
                }
                &.owl-next {
                    right: 50px;
                    &::before {
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: $transition;
                        background-image: url("https://via.placeholder.com/1920x870");
                        background-position: right;
                        background-repeat: no-repeat;
                        width: 20px;
                        height: 100px;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: $transition;
                        background-image: url("https://via.placeholder.com/1920x870");
                        background-position: right;
                        background-repeat: no-repeat;
                        width: 20px;
                        height: 100px;
                        opacity: 0;
                    }
                    i {
                        display: none;
                    }
                    &:hover {
                        background-color: transparent;
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .owl-dots {
            position: absolute;
            right: 50px;
            bottom: 50px;

            .owl-dot {
                span {
                    width: 12px;
                    height: 12px;
                    margin: 0px 8px;
                }
            }
        }
    }
}
.hero-carousel-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    &.bg-1 {
        background-image: url("https://via.placeholder.com/1920x870");
    }
    &.bg-2 {
        background-image: url("https://via.placeholder.com/1920x870");
    }
    &.bg-3 {
        background-image: url("https://via.placeholder.com/1920x870");
    }
    &.bg-4 {
        background-image: url("https://via.placeholder.com/1920x870");
    }
    &.bg-5 {
        background-image: url("https://via.placeholder.com/1920x870");
    }
    &.bg-6 {
        background-image: url("https://via.placeholder.com/1920x870");
    }
}
.hero-carousel-text {
    text-align: center;
    text-align: center;
    max-width: 900px;
    margin: 70px auto 0;
    h1 {
        font-size: 80px;
        color: $white-color;
        margin-bottom: 20px;
    }
    p {
        color: $white-color;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 30px;
    }
}
