@import "~styles/config";
/*
Go Top Style*/
.go-top {
    position: fixed;
    cursor: pointer;
    top: 88%;
    right: -10%;
    background-color: $main-color;
    z-index: 4;
    width: 40px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    opacity: 0;
    visibility: hidden;
    transition: 0.9s;
    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        color: $white-color;
        transition: 0.5s;
        font-size: 20px;
        &:last-child {
            opacity: 0;
            visibility: hidden;
            top: 60%;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $main-color;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
    &:hover {
        color: $white-color;
        background-color: $main-color;
        &::before {
            opacity: 1;
            visibility: visible;
        }
        i {
            &:first-child {
                opacity: 0;
                top: 0;
                visibility: hidden;
            }
            &:last-child {
                opacity: 1;
                visibility: visible;
                top: 50%;
            }
        }
    }
    &:focus {
        color: $white-color;
        &::before {
            opacity: 1;
            visibility: visible;
        }
        i {
            &:first-child {
                opacity: 0;
                top: 0;
                visibility: hidden;
            }
            &:last-child {
                opacity: 1;
                visibility: visible;
                top: 50%;
            }
        }
    }
}
.go-top.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    right: 3%;
    top: 88%;
}
