@import "~styles/responsive.scss";
@import "~styles/fonts.css";

body {
	font-size: 15px;
	font-family: $body-font-family;
	color: $body-color;
}
a {
	display: inline-block;
	transition: $transition;
	text-decoration: none;
	color: $main-color;
	&:hover {
		text-decoration: none;
		color: $main-color;
	}
	&:focus {
		text-decoration: none;
	}
}
button {
	outline: 0 !important;
	box-shadow: none;
	border: none;
	&:focus {
		box-shadow: none;
	}
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $main-color;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.3;
}
h3 {
	font-size: 22px;
}
.d-table {
	width: 100%;
	height: 100%;
}
.d-table-cell {
	vertical-align: middle;
}
p {
	font-size: 16px;
	margin-bottom: 15px;
	font-family: $paragraph-font-family;
	line-height: 1.8;
	&:last-child {
		margin-bottom: 0;
	}
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.form-control {
	height: 50px;
	color: $main-color;
	border: 1px dashed $body-color;
	background-color: $white-color;
	border-radius: 0;
	font-size: 13px;
	padding: 10px 20px;
	width: 100%;
	font-family: $paragraph-font-family;
	&::placeholder {
		color: #676a6a;
	}
	&:focus {
		color: $black-color;
		background-color: #fff;
		box-shadow: unset;
		outline: 0;
		border: 1px solid $main-color;
	}
}
.form-control:hover,
.form-control {
	&:focus {
		box-shadow: unset;
	}
}
textarea {
	&.form-control {
		height: auto;
	}
}
.ptb-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}
.pt-100 {
	padding-top: 100px;
}
.pb-100 {
	padding-bottom: 100px;
}
.pb-130 {
	padding-bottom: 130px;
}
.pt-70 {
	padding-top: 70px;
}
.pb-70 {
	padding-bottom: 70px;
}
.mt-30 {
	margin-top: 30px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mt-100 {
	margin-top: -100px;
}

/*
Bg-color Style*/
.bg-color {
	background-color: #fafafa;
}
.bg-color-two {
	background-color: #000000;
}

/*
Default Btn Area Style*/
.default-btn {
	font-size: 15px;
	color: $main-color;
	padding: 15px 40px;
	line-height: 1;
	transition: $transition;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	background-color: $white-color;
	border-radius: $border-radius;
	font-weight: 700;
	border: 1px solid $main-color;
	margin-bottom: -4px;
	&.two {
		background-color: $main-color;
		color: $white-color;
		&:hover {
			color: $main-color;
			background-color: $white-color;
		}
	}
	&.three {
		border-color: $white-color;
		background-color: transparent;
		color: $white-color;
		&:hover {
			color: $main-color;
			background-color: $white-color;
		}
	}
	&.active {
		margin-left: 20px;
		color: $main-color;
		background-color: $white-color;
	}
	&:hover {
		color: $white-color;
		border-color: $main-color !important;
		background-color: $main-color;
	}
}

/*
Read More Area Style*/
.read-more {
	line-height: 1;
	color: $main-color;
	font-weight: 500;
	transition: $transition;
	display: block;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	i {
		position: relative;
		top: 2px;
	}
	&:hover {
		color: $main-color;
		letter-spacing: 2px;
	}
}

/*
Section Title Area Style*/
.section-title {
	max-width: 750px;
	margin: -6px auto 50px;
	text-align: center;
	position: relative;
	span {
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		display: block;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 50px;
		margin-bottom: 15px;
		position: relative;
		display: block;
		text-transform: uppercase;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.white-title {
		span {
			color: $white-color;
		}
		h2 {
			color: $white-color;
		}
		p {
			color: $white-color;
		}
	}
}

/*
Continuer Custom Width Area Style*/
.container {
	max-width: 1230px;
}
