$body-font-family: "Oswald", sans-serif;
$paragraph-font-family: "Lato", sans-serif;

$main-color: #272b2b;
$body-color: #676a6a;
$white-color: #ffffff;
$black-color: #000000;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
$transition: all 0.5s;
$border-radius: 4px;
